In [1]:
import pandas as pd

In [2]:
import matplotlib.pyplot as plt

In [3]:
spotify_data = pd.read_csv('weekly_gb_merged.csv')

spotify_data.head()

,chart_position,chart_date,song,performer,streams,spotify_uri,song_id,region,time_on_chart,instance,consecutive_weeks,previous_week,peak_position,worst_position,chart_url
0,138,2018-03-22,$$$ - with Matt Ox,XXXTENTACION,386090,65u1dHQyQyE4y4aN2eDmMF,$$$ - with Matt OxXXXTENTACION,gb,1,1.0,NaN,NaN,138,138,https://charts.spotify.com/charts/view/regiona...
1,194,2017-10-19,'Till I Collapse,Eminem,274404,6yr8GiTHWvFfi4o6Q5ebdT,'Till I CollapseEminem,gb,1,1.0,NaN,NaN,194,194,https://charts.spotify.com/charts/view/regiona...
2,161,2017-11-16,'Till I Collapse,Eminem,321403,6yr8GiTHWvFfi4o6Q5ebdT,'Till I CollapseEminem,gb,2,2.0,NaN,NaN,161,194,https://charts.spotify.com/charts/view/regiona...
3,190,2017-11-23,'Till I Collapse,Eminem,281843,6yr8GiTHWvFfi4o6Q5ebdT,'Till I CollapseEminem,gb,3,2.0,1.0,161.0,161,194,https://charts.spotify.com/charts/view/regiona...
4,200,2018-02-08,'Till I Collapse,Eminem,298051,6yr8GiTHWvFfi4o6Q5ebdT,'Till I CollapseEminem,gb,4,3.0,NaN,NaN,161,200,https://charts.spotify.com/charts/view/regiona...

In [4]:
spotify_data.shape

(53596, 15)

In [6]:
spotify_data.describe()

,chart_position,streams,time_on_chart,instance,consecutive_weeks,previous_week,peak_position,worst_position
count,53596.000000,5.359600e+04,53596.000000,53596.000000,46785.000000,46785.000000,53596.000000,53596.000000
mean,100.504907,7.104397e+05,26.420778,1.785096,18.460960,92.607844,45.366706,134.585529
std,57.733964,5.697118e+05,33.725346,2.122706,22.526979,54.895937,47.316652,57.999968
min,1.000000,2.115860e+05,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,51.000000,3.850692e+05,5.000000,1.000000,4.000000,45.000000,7.000000,89.000000
50%,101.000000,4.927655e+05,14.000000,1.000000,11.000000,91.000000,28.000000,149.000000
75%,151.000000,8.087680e+05,34.000000,1.000000,25.000000,138.000000,70.000000,189.000000
max,200.000000,1.075428e+07,268.000000,28.000000,267.000000,200.000000,200.000000,200.000000

In [7]:
spotify_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53596 entries, 0 to 53595
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   chart_position     53596 non-null  int64
 1   chart_date         53596 non-null  object
 2   song               53596 non-null  object
 3   performer          53596 non-null  object
 4   streams            53596 non-null  int64
 5   spotify_uri        53596 non-null  object
 6   song_id            53596 non-null  object
 7   region             53596 non-null  object
 8   time_on_chart      53596 non-null  int64
 9   instance           53596 non-null  float64
 10  consecutive_weeks  46785 non-null  float64
 11  previous_week      46785 non-null  float64
 12  peak_position      53596 non-null  int64
 13  worst_position     53596 non-null  int64
 14  chart_url          53596 non-null  object
dtypes: float64(3), int64(5), object(7)
memory usage: 6.1+ MB

In [8]:
spotify_data.columns

Index(['chart_position', 'chart_date', 'song', 'performer', 'streams',
       'spotify_uri', 'song_id', 'region', 'time_on_chart', 'instance',
       'consecutive_weeks', 'previous_week', 'peak_position', 'worst_position',
       'chart_url'],
      dtype='object')

In [9]:
spotify_data.chart_position.describe()

count    53596.000000
mean       100.504907
std         57.733964
min          1.000000
25%         51.000000
50%        101.000000
75%        151.000000
max        200.000000
Name: chart_position, dtype: float64

In [10]:
spotify_data.streams.describe()

count    5.359600e+04
mean     7.104397e+05
std      5.697118e+05
min      2.115860e+05
25%      3.850692e+05
50%      4.927655e+05
75%      8.087680e+05
max      1.075428e+07
Name: streams, dtype: float64

In [11]:
spotify_data['performer']

0         XXXTENTACION
1               Eminem
2               Eminem
3               Eminem
4               Eminem
             ...
53591     Taylor Swift
53592     Taylor Swift
53593    Ariana Grande
53594    Ariana Grande
53595    Ariana Grande
Name: performer, Length: 53596, dtype: object

In [12]:
spotify_data[['performer', 'streams']]

           performer  streams
0       XXXTENTACION   386090
1             Eminem   274404
2             Eminem   321403
3             Eminem   281843
4             Eminem   298051
...              ...      ...
53591   Taylor Swift   573123
53592   Taylor Swift   338072
53593  Ariana Grande   363715
53594  Ariana Grande   329155
53595  Ariana Grande   286464

[53596 rows x 2 columns]

In [16]:
# I t5hiought this would only print columns 'performer' and 'streams'

filtered_data = spotify_data[spotify_data['streams'] > 500000][['performer', 'streams']]
spotify_data.head(10)

,chart_position,chart_date,song,performer,streams,spotify_uri,song_id,region,time_on_chart,instance,consecutive_weeks,previous_week,peak_position,worst_position,chart_url
0,138,2018-03-22,$$$ - with Matt Ox,XXXTENTACION,386090,65u1dHQyQyE4y4aN2eDmMF,$$$ - with Matt OxXXXTENTACION,gb,1,1.0,NaN,NaN,138,138,https://charts.spotify.com/charts/view/regiona...
1,194,2017-10-19,'Till I Collapse,Eminem,274404,6yr8GiTHWvFfi4o6Q5ebdT,'Till I CollapseEminem,gb,1,1.0,NaN,NaN,194,194,https://charts.spotify.com/charts/view/regiona...
2,161,2017-11-16,'Till I Collapse,Eminem,321403,6yr8GiTHWvFfi4o6Q5ebdT,'Till I CollapseEminem,gb,2,2.0,NaN,NaN,161,194,https://charts.spotify.com/charts/view/regiona...
3,190,2017-11-23,'Till I Collapse,Eminem,281843,6yr8GiTHWvFfi4o6Q5ebdT,'Till I CollapseEminem,gb,3,2.0,1.0,161.0,161,194,https://charts.spotify.com/charts/view/regiona...
4,200,2018-02-08,'Till I Collapse,Eminem,298051,6yr8GiTHWvFfi4o6Q5ebdT,'Till I CollapseEminem,gb,4,3.0,NaN,NaN,161,200,https://charts.spotify.com/charts/view/regiona...
5,144,2018-09-06,'Till I Collapse,Eminem,356013,4xkOaSrkexMciUUogZKVTS,'Till I CollapseEminem,gb,5,4.0,NaN,NaN,144,200,https://charts.spotify.com/charts/view/regiona...
6,199,2019-01-17,'Till I Collapse,Eminem,332414,4xkOaSrkexMciUUogZKVTS,'Till I CollapseEminem,gb,6,5.0,NaN,NaN,144,200,https://charts.spotify.com/charts/view/regiona...
7,193,2022-01-20,'Till I Collapse,"Eminem, Nate Dogg",366913,4xkOaSrkexMciUUogZKVTS,"'Till I CollapseEminem, Nate Dogg",gb,1,1.0,NaN,NaN,193,193,https://charts.spotify.com/charts/view/regiona...
8,191,2022-01-27,'Till I Collapse,"Eminem, Nate Dogg",370008,4xkOaSrkexMciUUogZKVTS,"'Till I CollapseEminem, Nate Dogg",gb,2,1.0,1.0,193.0,191,193,https://charts.spotify.com/charts/view/regiona...
9,195,2022-02-03,'Till I Collapse,"Eminem, Nate Dogg",370443,4xkOaSrkexMciUUogZKVTS,"'Till I CollapseEminem, Nate Dogg",gb,3,1.0,2.0,191.0,191,195,https://charts.spotify.com/charts/view/regiona...