# Spotify Quarterly Merged Data

In [1]:
import pandas as pd

In [5]:
df = pd.read_csv('data/weekly_gb_merged.csv')

In [9]:
df.head(5)

,chart_position,chart_date,song,performer,streams,spotify_uri,song_id,region,time_on_chart,instance,consecutive_weeks,previous_week,peak_position,worst_position,chart_url
0,138,2018-03-22,$$$ - with Matt Ox,XXXTENTACION,386090,65u1dHQyQyE4y4aN2eDmMF,$$$ - with Matt OxXXXTENTACION,gb,1,1.0,NaN,NaN,138,138,https://charts.spotify.com/charts/view/regiona...
1,194,2017-10-19,'Till I Collapse,Eminem,274404,6yr8GiTHWvFfi4o6Q5ebdT,'Till I CollapseEminem,gb,1,1.0,NaN,NaN,194,194,https://charts.spotify.com/charts/view/regiona...
2,161,2017-11-16,'Till I Collapse,Eminem,321403,6yr8GiTHWvFfi4o6Q5ebdT,'Till I CollapseEminem,gb,2,2.0,NaN,NaN,161,194,https://charts.spotify.com/charts/view/regiona...
3,190,2017-11-23,'Till I Collapse,Eminem,281843,6yr8GiTHWvFfi4o6Q5ebdT,'Till I CollapseEminem,gb,3,2.0,1.0,161.0,161,194,https://charts.spotify.com/charts/view/regiona...
4,200,2018-02-08,'Till I Collapse,Eminem,298051,6yr8GiTHWvFfi4o6Q5ebdT,'Till I CollapseEminem,gb,4,3.0,NaN,NaN,161,200,https://charts.spotify.com/charts/view/regiona...

In [7]:
df.describe()

,chart_position,streams,time_on_chart,instance,consecutive_weeks,previous_week,peak_position,worst_position
count,53596.000000,5.359600e+04,53596.000000,53596.000000,46785.000000,46785.000000,53596.000000,53596.000000
mean,100.504907,7.104397e+05,26.420778,1.785096,18.460960,92.607844,45.366706,134.585529
std,57.733964,5.697118e+05,33.725346,2.122706,22.526979,54.895937,47.316652,57.999968
min,1.000000,2.115860e+05,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,51.000000,3.850692e+05,5.000000,1.000000,4.000000,45.000000,7.000000,89.000000
50%,101.000000,4.927655e+05,14.000000,1.000000,11.000000,91.000000,28.000000,149.000000
75%,151.000000,8.087680e+05,34.000000,1.000000,25.000000,138.000000,70.000000,189.000000
max,200.000000,1.075428e+07,268.000000,28.000000,267.000000,200.000000,200.000000,200.000000

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53596 entries, 0 to 53595
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   chart_position     53596 non-null  int64
 1   chart_date         53596 non-null  object
 2   song               53596 non-null  object
 3   performer          53596 non-null  object
 4   streams            53596 non-null  int64
 5   spotify_uri        53596 non-null  object
 6   song_id            53596 non-null  object
 7   region             53596 non-null  object
 8   time_on_chart      53596 non-null  int64
 9   instance           53596 non-null  float64
 10  consecutive_weeks  46785 non-null  float64
 11  previous_week      46785 non-null  float64
 12  peak_position      53596 non-null  int64
 13  worst_position     53596 non-null  int64
 14  chart_url          53596 non-null  object
dtypes: float64(3), int64(5), object(7)
memory usage: 6.1+ MB

In [11]:
df.head(3)

,chart_position,chart_date,song,performer,streams,spotify_uri,song_id,region,time_on_chart,instance,consecutive_weeks,previous_week,peak_position,worst_position,chart_url
0,138,2018-03-22,$$$ - with Matt Ox,XXXTENTACION,386090,65u1dHQyQyE4y4aN2eDmMF,$$$ - with Matt OxXXXTENTACION,gb,1,1.0,NaN,NaN,138,138,https://charts.spotify.com/charts/view/regiona...
1,194,2017-10-19,'Till I Collapse,Eminem,274404,6yr8GiTHWvFfi4o6Q5ebdT,'Till I CollapseEminem,gb,1,1.0,NaN,NaN,194,194,https://charts.spotify.com/charts/view/regiona...
2,161,2017-11-16,'Till I Collapse,Eminem,321403,6yr8GiTHWvFfi4o6Q5ebdT,'Till I CollapseEminem,gb,2,2.0,NaN,NaN,161,194,https://charts.spotify.com/charts/view/regiona...

#### Chart date datatype converted to datetime in order to merge data with Quarterly stats and extract quarter/year

In [12]:
df['chart_date'] = pd.to_datetime(df['chart_date'])
df['quarter'] = df['chart_date'].dt.to_period('Q').dt.strftime('%Y Q%q')

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53596 entries, 0 to 53595
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   chart_position     53596 non-null  int64
 1   chart_date         53596 non-null  datetime64[ns]
 2   song               53596 non-null  object
 3   performer          53596 non-null  object
 4   streams            53596 non-null  int64
 5   spotify_uri        53596 non-null  object
 6   song_id            53596 non-null  object
 7   region             53596 non-null  object
 8   time_on_chart      53596 non-null  int64
 9   instance           53596 non-null  float64
 10  consecutive_weeks  46785 non-null  float64
 11  previous_week      46785 non-null  float64
 12  peak_position      53596 non-null  int64
 13  worst_position     53596 non-null  int64
 14  chart_url          53596 non-null  object
 15  quarter            53596 non-null  period[Q-DEC]
dtypes: datetime64[ns](1), float64(3), int64(5), object(6), period[Q-DEC](1)
memory usage: 6.5+ MB

#### Checking streams

In [29]:
total_pretenders_streams = sum_result.loc[sum_result['performer'] == 'Pretenders', 'streams'].sum()

In [30]:
total_pretenders_streams

21282276

#### Renaming columns so format is consistant with ONS data

In [40]:
df.columns

Index(['chart_position', 'chart_date', 'song', 'performer', 'streams',
       'spotify_uri', 'song_id', 'region', 'time_on_chart', 'instance',
       'consecutive_weeks', 'previous_week', 'peak_position', 'worst_position',
       'chart_url', 'quarter'],
      dtype='object')

In [41]:
df.rename(columns={'chart_position': 'Chart Position', 
                   'chart_date': 'Chart Date',
                   'song': 'Song Title',
                   'performer': 'Performer',
                   'streams': 'Streams',
                   'spotify_uri': 'Spotify URI',
                   'song_id': 'Song ID',
                   'region': 'Region',
                   'time_on_chart': 'Time On Chart',
                   'instance': 'Instance',
                   'consecutive_weeks': 'Consecutive Weeks',
                   'previous_week': 'Previous Week',
                   'peak_position': 'Peak Position',
                   'worst_position': 'Worst Position',
                   'chart_url': 'Chart URL',
                   'quarter': 'Quarter'
                  }, inplace=True)

In [42]:
df.head(3)

,Chart Position,Chart Date,Song Title,Performer,Streams,Spotify URI,Song ID,Region,Time On Chart,Instance,Consecutive Weeks,Previous Week,Peak Position,Worst Position,Chart URL,Quarter
0,138,2018-03-22,$$$ - with Matt Ox,XXXTENTACION,386090,65u1dHQyQyE4y4aN2eDmMF,$$$ - with Matt OxXXXTENTACION,gb,1,1.0,NaN,NaN,138,138,https://charts.spotify.com/charts/view/regiona...,2018Q1
1,194,2017-10-19,'Till I Collapse,Eminem,274404,6yr8GiTHWvFfi4o6Q5ebdT,'Till I CollapseEminem,gb,1,1.0,NaN,NaN,194,194,https://charts.spotify.com/charts/view/regiona...,2017Q4
2,161,2017-11-16,'Till I Collapse,Eminem,321403,6yr8GiTHWvFfi4o6Q5ebdT,'Till I CollapseEminem,gb,2,2.0,NaN,NaN,161,194,https://charts.spotify.com/charts/view/regiona...,2017Q4

### Below filtering the dataset in order to display 
#### 1. Grouping data by all relevant identifiers and quarter
#### 2. Sorting chronologically with biggest hits first in each quarter
#### 3. Formating quarter for readability

In [46]:
# 1:
quarterly_data = (
    df.groupby([
        'Song ID',          # unique identifier
        'Spotify URI',      # Spotify's unique URI
        'Song Title',           
        'Performer',        
        'Region',           
        'Quarter'           # already in period[Q-DEC] format
    ])
    .agg({
        'Streams': 'sum',               # sum of weekly streams
        'Chart Position': 'min',        # best (lowest) position
        'Peak Position': 'min',         # confirming peak position
        'Worst Position': 'max',        # worst performance
        'Time On Chart': 'max',         # total weeks on chart
        'Consecutive Weeks': 'max',     # longest streak
        'Instance': 'first',            # keep first instance
        'Previous Week': 'first',       # keep first previous week
        'Chart URL': 'first'            # keep first URL
    })
    .reset_index()
    .rename(columns={
        'Streams': 'Quarterly Streams',
        'Chart Position': 'Best Quarterly Position'
    })
)

# 2:
quarterly_data = quarterly_data.sort_values([
    'Quarter', 
    'Quarterly Streams'
], ascending=[True, False])

# 3:
quarterly_data['Quarter'] = quarterly_data['Quarter'].astype(str).str.replace('Q', ' Q')


quarterly_data.head()

,Song ID,Spotify URI,Song Title,Performer,Region,Quarter,Quarterly Streams,Best Quarterly Position,Peak Position,Worst Position,Time On Chart,Consecutive Weeks,Instance,Previous Week,Chart URL
407,All I Want for Christmas Is YouMariah Carey,0bYg9bo50gSsH3LtXe2SQn,All I Want for Christmas Is You,Mariah Carey,gb,2016 Q4,2414608,1,1,1,1,NaN,1.0,NaN,https://charts.spotify.com/charts/view/regiona...
6697,Rockabye (feat. Sean Paul & Anne-Marie)Clean B...,5knuzwU65gJK7IF5yJsuaW,Rockabye (feat. Sean Paul & Anne-Marie),Clean Bandit,gb,2016 Q4,2406621,2,2,2,1,NaN,1.0,NaN,https://charts.spotify.com/charts/view/regiona...
4351,Last ChristmasWham!,2FRnf9qhLbvw8fu4IBXx78,Last Christmas,Wham!,gb,2016 Q4,2345002,3,3,3,1,NaN,1.0,NaN,https://charts.spotify.com/charts/view/regiona...
2493,Fairytale of New York (feat. Kirsty MacColl)Th...,3VTNVsTTu05dmTsVFrmGpK,Fairytale of New York (feat. Kirsty MacColl),The Pogues,gb,2016 Q4,1879767,4,4,4,1,NaN,1.0,NaN,https://charts.spotify.com/charts/view/regiona...
7602,StarboyThe Weeknd,5aAx2yezTd8zXrkmtKl66Z,Starboy,The Weeknd,gb,2016 Q4,1797034,5,5,5,1,NaN,1.0,NaN,https://charts.spotify.com/charts/view/regiona...

In [45]:
quarterly_data.to_csv('spotify_quarterly_merged.csv')

In [1]:
quarterly_data.head(20)

NameError: name 'quarterly_data' is not defined